<div class="container">
    <div class="w-50">
        <%- include('../partials/errors.ejs') %>
    </div>

    <% if (user) { %>
    <h1><%= user.username + " - " + user.firstName + " " + user.lastName %></h1>

    <div class="d-inline-block">
        <a href="/users/edit/<%= user._id %>" class="btn btn-primary">Edit</a>
    </div>
    <form action="/users/destroy/<%= user._id %>" method="POST" class="d-inline-block">
        <div class="my-2">
            <button class="btn btn-danger" type="submit">Delete</button>
        </div>
    </form>
    <% } else { %>
    <h1>User Not Found</h1>
    <% } %>
</div>